/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
	font-family: sans-serif;
}

h1, h2{
	text-align: center
}

a{
	text-decoration-line: none;
}

li{
	list-style-type: none;
}

ul{
	padding: 15px;
}

.playlist-container{
	width: 90%;
	background-color: rgb(255, 255, 255);;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 10px;
	
}
.nowplaying-card{
	width: 80%;
	
	background-color: white;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 10px;
	
}

.player_one, .player_two{
	display: flex;
	justify-content: center;
    align-items: center;
	padding: 15px
	background-color: rgb(255, 255, 255);
	border-radius: 10px;   
	margin: 10px
}



video{
      width: 100%;
      height: auto;
}

p{
	margin: 10px;
}

audio{
	width: 100%;
}

 .player_two{
	 display: block;
 }

